/* Footer Section */
.footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  color: white;
  font-size: 1.2rem;
}

/* Style the FontAwesome icon */
.footer .jedi-icon {
  color: #b700ff; /* Purple color for Space Awesome icon */
  margin-left: 5px;
}

/* SOCIAL MEDIA ICONS */
.footer .social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer .footer-icon {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.footer .footer-icon:hover {
  color: #ff0000; /* Red hover effect */
}
